@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<ul class="gigs">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                    <span style="font-size: 10px; display: block" class="text-center ">@gig.DateTime.ToString("yyyy")</span>
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
                </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.Name
                </span>
                <span class="genre badge badge-primary">
                    @gig.Genre.Name
                </span>
                <div class="action-btn">
                    <button id="" class="btn btn-sm btn-info toogle-attand" data-gig-id="@gig.Id">
                        going?
                    </button>
                    <button class="btn btn-sm btn-warning following" data-artistId="@gig.ArtistId">
                        Following
                    </button>
                    
                </div>
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script >
        $(document).ready(function() {
            $(".toogle-attand").click(function (e) {
                var button = $(e.target);
               $.post("/api/Attendance", { gigId : button.attr("data-gig-id") })
               .done(function(e) {
                   button.removeClass("btn-info")
                   .addClass("btn-primary")
                   .text("Going");
               })
               .fail(function() {
                 alert("Something is wrong");
               });
            });
             $(".following").click(function (e) {
                            var button = $(e.target);
                           $.post("/api/Following", { ArtistId : button.attr("data-artistId") })
                           .done(function(e) {
                               button.removeClass("btn-warning")
                               .addClass("btn-primary")
                               .text("Unfollow");
                           })
                           .fail(function() {
                             alert("Something is wrong");
                           });
                        });
        });
    </script>
}
